body {
    background-color: #6699cc;
}

div#content {
    max-width: 54em;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 3em 2em 3em;
}

div.navitem {
    font-family: sans-serif;
    float: left;
    width: 8em;
    border: 1px solid black;
    text-align: center;
    border-radius: 0.5em;
    margin: 0.5em;
    line-height: 2em;
    box-shadow: 1px 1px black;
    color: black;
    background-color: #ddeeff;
}

div.navitem:hover {
    background-color: #f0f0ff;
}

div.clear {
    clear: both;
}

main {
    margin-top: 2em;
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
}

main img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre {
    white-space: pre-wrap;
    background-color:#f8f8f8;
    tab-size:4;
}

blockquote {
    font-style: italic;
}

@media screen and (max-width: 1000px) {
    div#content {
        padding: 2em 1em 2em 1em;
        font-size: 90%;
    }
}
